{% extends "base.html" %}
{% block contact %}
<section class="contact-section">
    <p class="contact-intro">
        Ready to book with us? Have a question about our rooms or banquets?<br>
        We'll be happy to help!
    </p>

    <div class="whatsapp-button">
        <a href="https://wa.me/919811112422" target="_blank">
            <button class="whatsapp-btn">
                Message us on WhatsApp
            </button>
        </a>
    </div>

    <h3>Address</h3>

    <div class="contact-details-wrapper">
        <p>Red Leaf Resort And Cafe, Kasol, India</p>
        <p><strong>Tel:</strong> <span class="highlight">+91 11 25064590</span></p>
        <p><strong>Mobile:</strong>
            <span class="highlight">1212325451 - Mr. Joker</span> |
            <span class="highlight">7845856986 - Mr. Poker</span>
        </p>
        <p><strong>Email:</strong>
            <span class="highlight">a@redleafresortandcafe.com</span> |
            <span class="highlight">a@gmail.com</span>
        </p>
    </div>

    <div class="map-container">
        <iframe src="https://www.google.com/maps?q=Parvati+valley,+Katagla,+Kasol,+Himachal+Pradesh+175105&output=embed"
            width="900" height="400" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
</section>
{% endblock %}