{% extends "base.html" %}
{% block term_condition %}
<section class="terms-section">
    <div class="lined-heading-wrapper">
        <h3 class="lined-heading">Terms and Conditions</h3>
    </div>
    <p>
        Your Terms and Conditions section is like a contract between you and your customers.
        You make information and services available to your customers, and your customers must follow your rules.
    </p>

    <p>Common items in a terms and conditions agreement allow you to:</p>

    <ul>
        <li>Withdraw and cancel services, and make financial transactions.</li>
        <li>Manage customer expectations, such as liability for information errors or website downtime.</li>
        <li>Explain your copyright rules, such as attribution, adaptation, commercial or non-commercial use, etc.</li>
        <li>Set rules for user behavior, like forbidding unlawful behavior, hate speech, bullying, promotions, spam,
            etc.</li>
        <li>Disable user accounts.</li>
        <li>Write down any other terms or conditions that protect you or your audience.</li>
    </ul>
</section>
{% endblock %}